.header {
    /* background-color: rgb(41, 41, 41); */
    background-color: #fff;
    border: 3px solid #6D543A;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #495867;
    padding: 0 1em;
}

.fa-house {
    font-size: 2rem;
    color: #495867;
}

.fa-leaf {
    color: #327b2c;
    font-size: 1.5rem;
}

.header__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.header__settings-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.header__profile-image {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #6D543A;
}

.header__settings-button,
.signin-btn {
    border: 1px solid #495867;
    padding: 0.3em 0.6em;
    border-radius: 8px;
    background: transparent;
    font-size: 1.1rem;
    cursor: pointer;
}

.header__settings-button>a,
.signin-btn>a {
    text-decoration: none;
    color: #495867;
}

.header__settings-button:hover,
.header__settings-button:focus,
.signin-btn:hover,
.signin-btn:focus {
    border: 2px solid #495867;
}

/* Change color of 'btn a' when hover over signin-btn/settings */
.header__settings-button:hover>a,
.header__settings-button:focus>a,
.signin-btn:hover>a,
.signin-btn:focus>a {
    color: #495867;
}

.active {
    border: 2px solid #495867;
}

.active>a {
    color: #495867;
}