.header {
    background-color: #a7c957;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.fa-house {
    color: #2B2E37;
    font-size: 2rem;
}

.fa-leaf {
    color: #fff;
    font-size: 1.5rem;
}

.header__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2B2E37;
}