.header {
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
}

.fa-house {
    font-size: 2rem;
}

.fa-leaf {
    color: #ffd92f;
    font-size: 1.5rem;
}

.header__title {
    font-size: 1.5rem;
    font-weight: bold;
}