.sidebar {
    /* background-color: rgb(41, 41, 41); */
    background-color: #fff;
    border: 3px solid #495867;
    flex: 0 0 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-height: 80vh;
}

.sign-out {
    color: #495867;
    background: transparent;
    border-radius: 4px;
    outline: 1px solid #495867;
    cursor: pointer;
    border: none;
    width: fit-content;
    font-size: 1.2rem;
    padding: .3em;
    position: absolute;
    bottom: 20px;
}

.sign-out:hover {
    color: #ffaf2f;
    outline: 1px solid #ffaf2f;
}

.sign-out:active {
    scale: 1.05;
}