.sidebar {
    background-color: #a7c957;
    flex: 0 0 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-height: 80vh;
}

.sign-out {
    color: #2B2E37;
    background: transparent;
    border-radius: 4px;
    outline: 1px solid #000;
    cursor: pointer;
    border: none;
    width: fit-content;
    font-size: 1.2rem;
    padding: .3em;
    position: absolute;
    bottom: 20px;
}

.sign-out:hover {
    color: #fff;
    outline: 1px solid #fff;
}

.sign-out:active {
    scale: 1.05;
}