.sidebar {
    /* background-color: rgb(41, 41, 41); */
    background-color: #fff;
    border: 3px solid #6D543A;
    flex: 0 0 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-height: 80vh;
}

.sign-out {
    color: #495867;
    background: transparent;
    border-radius: 4px;
    outline: 1px solid #495867;
    cursor: pointer;
    border: none;
    width: fit-content;
    font-size: 1.2rem;
    padding: .3em;
    position: absolute;
    bottom: 20px;
}

.sign-out:hover,
.sign-out:focus {
    color: #AD1E1E;
    outline: 1px solid #AD1E1E;
}

.sign-out:active {
    scale: 1.05;
}

/* Responsive: tablet and down. */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    max-height: none;
    padding: 0.75em 0.5em;
    flex: 0 0 auto;
  }

  .sign-out {
    position: static;
    margin-top: 0.75em;
  }
}