@import "tailwindcss";
@import "./global-large.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  align-items: center;
  background-image: url('../../public/bckgrnd-img.png');
  min-height: 100vh;
}

.page__content {
  width: 100%;
  min-height: 95vh;
  display: grid;
  background-color: rgba(255, 255, 255, 0.612);
  grid-template-rows: minmax(72px, 80px) auto 50px;
  max-width: 1360px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page__container {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.main {
  flex: 1;
}