.product-filters__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.product-filters__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.product-filters__row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.product-filters__field {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  font-size: 0.9rem;
}

.product-filters__label,
.product-filters__clear {
  font-weight: 600;
  color: #6D543A;
}

.product-filters__input,
.product-filters__select {
  border: 1px solid #6D543A;
  border-radius: 8px;
  padding: 0.5em 1em;
  background: #fff;
  width: 170px;
}

.product-filters__actions {
  display: flex;
  gap: 0.75rem;
  align-items: end;
}

.product-filters__submit {
  background: #6D543A;
  color: #fff;
  font-weight: 600;
}

.product-filters__submit,
.product-filters__clear {
  cursor: pointer;
  padding: 0.5em 1em;
  border: 1px solid #6D543A;
}

.product-filters__clear {
  text-decoration: none;
  background: none;

}