/* .footer {
    width: 100%;
    max-width: 1360px;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "image-container social-container"
        "image-container copyright"; */
/* min-height: 200px; */
/* background-color: #fff; */
/* use background-image to change color little by little */
/* I want need the #6D543A to smoothly transition to #f0e6d2 beginning at 20% */
/* background-image: linear-gradient(to top, #6D543A, #f0e6d2 50%);
    border: 3px solid #6D543A;
    border-radius: 10px;
    color: #495867;
} */

/* TESTING WRAP */
.footer {
    width: 100%;
    max-width: 1360px;
    flex: 4;
    display: grid;
    align-items: center;
    grid-template-columns: .6fr 2fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
        "image-container social-container"
        "image-container separator"
        "image-container copyright";
    /* background-image: linear-gradient(to bottom, rgba(109, 84, 58, 0.503), rgba(109, 84, 58, 0.738)); */
    background-color: rgba(255, 255, 255, 0.612);
    border: 1px solid #000;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #495867;
}

.footer__company_name {
    font-size: 1rem;
    font-weight: bold;
}

/* TESTING WRAP */

.footer__image_container {
    display: flex;
    grid-area: image-container;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.705);
    padding: .5em 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer__img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: auto;
    /* height: 100%; This is a test, uncomment when finished */
    border-radius: 8px;
    filter: blur(1px);
}

.footer__social-media_container {
    grid-area: social-container;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.fa-brands {
    font-size: 2.5rem;
    color: #495867;
    transition: color 0.3s ease;
}

.footer__social_link {
    display: flex;
    align-items: center;
    color: #495867;
    transition: color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
}

.footer__social_name {
    text-decoration: underline;
}

.footer__copyright {
    grid-area: copyright;
    text-align: center;
    color: #495867;
    font-size: 1.3rem;
    font-weight: bold;
}

.footer__separator {
    display: block;
    grid-area: separator;
    height: 2px;
    width: 70%;
    margin-inline: auto;
    background-color: #6d543a;
}