.footer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "image-container social-container"
        "image-container copyright";
    /* min-height: 200px; */
    /* background-color: #fff; */
    /* use background-image to change color little by little */
    /* I want need the #6D543A to smoothly transition to #f0e6d2 beginning at 20% */
    background-image: linear-gradient(to top, #6D543A, #f0e6d2 50%);
    border: 3px solid #6D543A;
    border-radius: 10px;
    color: #495867;
}

.footer__image_container {
    display: flex;
    grid-area: image-container;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.footer__logo {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: rgba(255, 228, 196, 0.705);
    padding: .5em 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer__img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    filter: blur(1px);
}

.footer__social-media_container {
    grid-area: social-container;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.fa-brands {
    font-size: 2.5rem;
    color: #6D543A;
    transition: color 0.3s ease;
}

.footer__social_link {
    display: flex;
    align-items: center;
    color: #6D543A;
    transition: color 0.3s ease;
    text-decoration: none;
}

.footer__social_name {
    text-decoration: underline;
}

.footer__copyright {
    grid-area: copyright;
    text-align: center;
    color: #fff;
}