.nav {
    display: block;
    margin-bottom: 1.5rem;
}

.ol {
    display: flex;
    font-size: 1.25rem;
    line-height: 1.75rem;
    list-style: none;
}

@media (min-width: 768px) {
  .ol {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.active {
  color: rgb(17 24 39);
}
.link{
    color: inherit;
    text-decoration: none;
}
.link:visited {
    color: inherit;
}
.link:hover {
    text-decoration: underline;
}
.inactive {
  color: rgb(107 114 128);
}
.separator {
  display: inline-block;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-weight: 700;
  font-size: 1.5rem;
}