.cart {
    display: flex;
    width: 100%;
    height: calc(100vh - 240px);
}

.cart__title {
    font-size: 2rem;
    font-weight: bold;
    color: #495867;
    text-align: center;
    margin-bottom: 1rem;
}