.cart-items-container {
    display: flex;
    gap: 1rem;
    position: relative;
}

.cart-items {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-bottom: 20px;
    /* Create 4 columns by default that can shrink and grow */
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    gap: 5px;
}

.clear-cart-button {
    position: absolute;
    bottom: 0;
    left: 0;
}

.cart-summary {
    /* set cart summary in the fourth column on top */
    /* grid-column: 4;
    grid-row: 1; */
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}