.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__list-item {
    list-style: none;
    padding: .5em;
}

.nav__list-item a {
    text-decoration: none;
    color: #495867;
    font-size: 1.5rem;
    border: none;
}

.nav__list-item a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #327b2c;
    transition: width .3s;
}

.nav__list-item a:hover:after,
.nav__list-item a:focus:after,
.nav__list-item a.active:after {
    width: 100%;
}

.nav__list-item a:hover,
.nav__list-item a:focus,
.nav__list-item a.active {
    color: #327b2c;
}

/* When link is active, update background of :after to match active color */
.nav__list-item a.active:after {
    background: #327b2c;
}