.support__card {
    background-color: #fff;
    border: 1px solid #6D543A;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.support__card_icon {
    margin-bottom: 15px;
}

.support__card_title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #6D543A;
}

.support__card_description {
    margin-bottom: 15px;
    color: #333;
}

.support__card_link {
    color: #6D543A;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #6D543A;
    padding: .3em .6em;
    border-radius: 8px;
}

.support__card_link:hover {
    text-decoration: underline;
}