.summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary__label {
    font-weight: bold;
}

.summary__title {
    font-size: 1.5rem;
    color: #6D543A;
    text-align: center;
}

.summary__checkout_button {
    padding: 0.75em 1.5em;
    background-color: #6D543A;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 80%;
    margin-inline: auto;
}

.summary__divider {
    margin: 10px 0;
}

.summary__details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.summary__row {
    display: flex;
    justify-content: space-between;
}