@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: #f6e9d5;
  padding: 10px 0;
  min-height: 100vh;
}

.page__content {
  min-height: 100vh;
  display: grid;
  grid-template-rows: minmax(72px, 80px) auto minmax(20px, 40px);
  max-width: 1360px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page__container {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.main {
  flex: 1;
}