.productDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: .75rem;
}

.productDetails a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.productDetails a:hover,
.productDetails a:focus {
    color: inherit;
    text-decoration: underline;
}