.header {
    height: 60px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
}

:global(.fa-house) {
    color: #2B2E37;
    font-size: 2rem;
}

:global(.fa-leaf) {
    color: #11971a;
}

.login {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #2B2E37;
    position: relative;
    border-radius: 8px;
    height: calc(100vh - 165px);
    overflow: hidden;
}

.login__background {
    object-fit: cover;
    /* Center image */
    object-position: center;
}

.login__welcome {
    color: #2B2E37;
    text-align: center;
}

.login__message {
    margin-bottom: 1rem;
    color: #327b2c;
}

.login__go_home {
    color: #495867;
    cursor: pointer;
    border: none;
    text-decoration: none;
    font-size: 1.5rem;
}

.login__go_home:hover,
.login__go_home:focus {
    color: #327b2c;
    text-decoration: underline;
}

.login__formContainer {
    box-shadow: inset 0 4px 10px rgba(199, 155, 155, 0.1);
    border-radius: 8px;
    padding: 2em;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}