.header {
    height: 60px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
}

:global(.fa-house) {
    color: #2B2E37;
    font-size: 2rem;
}

:global(.fa-leaf) {
    color: #11971a;
}

.header__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2B2E37;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2B2E37;
}

.login h1 {
    color: #2B2E37;
    text-align: center;
    margin-bottom: 1rem;
}

.login__formContainer {
    box-shadow: inset 0 4px 10px rgba(199, 155, 155, 0.1);
    border-radius: 8px;
    padding: 2em;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}