.support {
    display: flex;
    height: calc(100vh - 387px);
}

.support__title {
    /* font-weight: 500; */
    font-size: 2rem;
    margin-bottom: 30px;
    color: #6D543A;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.support__cards_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}