.form {
    max-width: 400px;
    width: 100%;
    background: #0a1f30;
    color: #c7c7c7;
    padding: 2rem;
    border: 1px solid #c7c7c7;
    border-radius: 8px;
    box-shadow: inset 0 4px 10px rgba(199, 155, 155, 0.1);
}

.form_input {
    border: 1px solid var(--background);
    padding: 0.5rem;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 1rem;
    border: none;
}

.form_input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 84, 84, 0.5);
}

.form button[type="submit"] {
    display: block;
    border: 1px solid #0a0a0a;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    background: #c7c7c7;
    color: #171717;
    box-shadow: inset 0 0 10px rgba(199, 155, 155, 0.1);
}

.form button[type="submit"]:hover {
    background: #0a1f30;
    color: #c7c7c7;
    border: 1px solid #c7c7c7;

}