.cart-item {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 8px;
    /* width: 250px; */
}

.cart-item-image-container {
    width: 200px;
}

.cart-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}