.artisans {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 165px);
}

.content__title {
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    color: #6D543A;
}