.products {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 240px);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    /* space between h1, p, link, cards */
}