.products__container {
    display: flex;
    flex-direction: column;
}

.products {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    height: calc(100vh - 165px);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    /* space between h1, p, link, cards */
}