.artisanProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: .75rem;
}

.artisanProducts {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1rem; /* space between the heading and ProductCardWrapper */
}